@using System.Globalization

@inject IJSRuntime JSRuntime
@inject NavigationManager Nav

<strong>Culture:</strong>
<div class="d-inline-block" style="margin-bottom:2rem">
    <DxComboBox Data="@SupportedCultures.Cultures"
                TextFieldName="NativeName"
                @bind-Value="@Culture">
    </DxComboBox>
</div>

@code {
    CultureInfo Culture {
        get => CultureInfo.CurrentCulture;
        set {

            var cultureName = value.Name;
            var uri = new Uri(Nav.Uri)
                .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
            var query = $"?culture={Uri.EscapeDataString(cultureName)}&" +
                $"redirectUri={Uri.EscapeDataString(uri)}";

            Nav.NavigateTo("/Culture/SetCulture" + query, forceLoad: true);
        }
    }
}