@using System.Globalization

@inject IJSRuntime JSRuntime
@inject NavigationManager Nav

<strong>Culture:</strong>
<div class="d-inline-block" style="margin-bottom:2rem">
    <DxComboBox Data="@SupportedCultures.Cultures"
                TextFieldName="NativeName"
                @bind-Value="@Culture">
    </DxComboBox>
</div>

@code {
    CultureInfo Culture {
        get => CultureInfo.CurrentCulture;
        set {
            if (CultureInfo.CurrentCulture != value) {
                var uri = new Uri(Nav.Uri)
                    .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
                var cultureEscaped = Uri.EscapeDataString(value.Name);
                var uriEscaped = Uri.EscapeDataString(uri);

                Nav.NavigateTo(
                    $"Culture/Set?culture={cultureEscaped}&redirectUri={uriEscaped}",
                    forceLoad: true
                );
            }
        }
    }
}